// Grays
$gray:#f9f9f9;
$gray-light:$gray * .95;
$gray-med:$gray * .75;
$gray-med-dark:$gray * .5;
$gray-dark:$gray * .3;

// Blue
$color-primary:#034999;

// Red
$color-secondary:#ee3a43;

// Orange
$color-highlight:#f76730;

// Green
$color-highlight-compliment:#14A655;

// Yellow
$color-yellow:#FEE033;