/* # Ninja Forms
---------------------------------------------------------------------------------------------------- */

.ninja-form-field-half-left-wrap, .ninja-form-field-half-wrap {
	width:49%;
	float:left;
}

.ninja-form-field-half-left-wrap {
	margin-right:2%;
}

.ninja-forms-required-items {
	display:none;
}