/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $color-gray-darkest;
	font-size: 14px;
	font-size: 1.4rem;
	font-weight:bold;
	line-height: 1;
	padding: 20px 0;
	text-align: center;
	color:$gray;
	border-bottom: 5px solid $gray * .4;
}

.site-footer p {
	margin-bottom: 0;
}