// Text Color
$base-font-color:$gray-dark;
$heading-font-color:$gray-dark;
$link-gray-color:$gray-med;
$link-gray-color-hover:$gray-light;
$link-color:$color-primary * 1.25;
$link-color-hover:$link-color * .8;

// Font Family
$base-font-family:'Open Sans', Arial, Helvetica, sans-serif;
$heading-font-family:'Helvetica Neue', Verdana, Arial, Helvetica, sans-serif;

// Font Weight
$light:300;
$regular:400;
$bold:700;

// Borders 
$border-thin:1px solid;
$border-med:2px solid;
$border-thick:5px solid;
$border-color:$gray-light;
$border-color-focus:$gray-med;

// Buttons
$button-bkgd:$color-secondary;
$button-bkgd-hover:$color-secondary * .9;
$button-bkgd-gray:$gray-med-dark;
$button-bkgd-gray-hover:$gray-med;
$button-shop:$color-highlight;
$button-shop-hover:$button-shop * .9;
$button-shop-compliment:$color-highlight-compliment;
$button-shop-compliment-hover:$button-shop-compliment * .9;

/* ## Colors
--------------------------------------------- */

/* Blue */
$color-primary:#034999;
$color-primary-dark:#02336A;
$color-primary-darkest:#011D3C;
$color-primary-light:#034086;
$color-primary-lightest:#034FA6;

/* Red */
$color-secondary:#ee3a43;
$color-secondary-dark:#ae2a31;
$color-secondary-darkest:#6e1b1f;
$color-secondary-light:#d4343c;
$color-secondary-lightest:#fb3d47;

/* Orange */
$color-highlight:#f76730;
$color-highlight-dark:#aa3b11;
$color-highlight-light:#ff7d4b;

/* Green */
$color-highlight-compliment:#14A655;

/* Yellow */
$color-yellow:#FEE033;

/* Gray */
$color-gray:#c4c7ca;
$color-gray-dark:#86888a;
$color-gray-darkest:#48494a;
$color-gray-light:#abaeb0;
$color-gray-lightest:#d0d4d7;


/* Messages */
$success:$color-highlight-compliment;
$success-hover:$color-highlight-compliment * .9;
$error:$color-secondary;
$error-hover:$error * .9;


/* ## Fonts
--------------------------------------------- */


/* ## Borders
--------------------------------------------- */
