/* # WooCommerce
---------------------------------------------------------------------------------------------------- */

/* ===== Cart ===== */
.woocommerce-error, .woocommerce-info, .woocommerce-message {
	color:$color-gray-darkest * 1.5;
}
.woocommerce  {
	/* */
	.woocommerce-error, 
	.woocommerce-info, 
	.woocommerce-message {
		color:$color-gray-darkest * 1.5;
	}
	/* Message */
	.woocommerce-message {
		border-top-color:$color-highlight-compliment;
		a {
			color:$color-highlight-compliment;
		}
		a:hover {
			color:$color-highlight-compliment * 1.1;
		}
	}
	.woocommerce-message:before {
		color:$color-highlight-compliment;
		font-weight:$bold;
	}

	/* Info */
	.woocommerce-info {
		border-top-color:$color-primary * .85;
		a {
			color:$color-primary;
		}
		a:hover {
			color:$color-primary * 1.1;
		}
	}
	.woocommerce-info:before {
		color:$color-primary * .85;
		font-weight:$bold;
	}

	/* Error */
	.woocommerce-error {
		border-top-color:$error-hover;
		a {
			color:$error;
		}
		a:hover {
			color:$error-hover;
		}
	}
	.woocommerce-error:before {
		color:$error;
		font-weight:$bold;
	}

}
.cart_item,
.cart_totals {

	a {
		color:$link-color;
		font-weight:$bold;
	}
	a:hover{
		color:$link-color-hover;
	}
}

.woocommerce a.remove {
	color:$gray-med-dark;
}

.woocommerce a.remove:hover {
	background:$gray-med-dark !important;
	color:fff;
}

.woocommerce .widget_shopping_cart .cart_list li a.remove, 
.woocommerce.widget_shopping_cart .cart_list li a.remove {
	top:5px;
	left:5px;
}

.woocommerce .widget_shopping_cart .cart_list li, 
.woocommerce.widget_shopping_cart .cart_list li {
	padding-left:40px;
	padding-top:14px;
}

.widget_shopping_cart ul.cart_list.product_list_widget {
    margin-bottom: 25px;
}

.sidebar .woocommerce  { 
	.widget_shopping_cart_content,
	p.total {
		margin-bottom:15px;
	}
}

.woocommerce .quantity .qty {
	width:4.2em;
}

/* ===== Woocommerce Buttons ===== */
.woocommerce {
	#respond input#submit, 
	a.button, 
	button.button, 
	input.button, {
		background-color:$color-highlight;
	}
	#respond input#submit:hover, 
	a.button:hover, 
	button.button:hover, 
	input.button:hover {
		background-color:$color-highlight * .9;
		color:#fff;
	}
}

.woocommerce { 
	#respond input#submit.alt, 
	a.button.alt, 
	button.button.alt, 
	input.button.alt,
	.cart .button, 
	.cart input.button {
		background-color:$button-shop;
		color:#fff;
	}
	#respond input#submit.alt:hover, 
	a.button.alt:hover, 
	button.button.alt:hover, 
	input.button.alt:hover,
	.cart .button:hover, 
	.cart input.button:hover {
		background-color:$button-shop-hover;
		color:#fff;
	}
}

.woocommerce {
	a.button {
		font-size:12px;
		font-weight:$bold;
		color: #fff;
		background-color: $color-highlight;
		width:auto;
		text-transform:uppercase;
	}
	a.button:hover {
		color:#fff;
		background-color:$color-highlight * .9;
	}
} 

.woocommerce-message {
	a.button {
		font-size:14px;
		color:#fff;
		background-color:$button-shop-compliment;
	}
	a.button:hover {
		background-color:$button-shop-compliment-hover;
	}
}

.woocommerce {
	button.button.alt, 
	input.button, 
	input.button.alt,
	a.button.alt,
	button.button {
	    width: auto;
	    color: white;
	}
}

.woocommerce button.button.alt {
	height:60px;
	border-radius:3px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	text-transform:uppercase;
}

.woocommerce #review_form #respond .form-submit input {
	color:#fff;
}

.woocommerce {
	a.added_to_cart {
		font-weight:$bold;
		color:$success;
		padding:5px 10px;
	}
	a.added_to_cart:hover {
		color:$success-hover;
	}	
}

a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
	width:100%;
	text-align:center;
}


/* ===== Product ===== */
.woocommerce div.product .product_title {
	font-size:36px;
	font-size:3.6rem;
	margin:0;	
}

.woocommerce ul.products li.product h3 {
	padding:0;	
}

.woocommerce div.product p.price {
	font-size:inherit;
}

.woocommerce {
	ul.products li.product a img, 
	div.product div.images img {

	}
}

/* ===== Custom Search ===== */
.woocommerce-product-search { 
	input[type="submit"] {
	    content: "\f179";
	    display: inline-block;
	    -webkit-font-smoothing: antialiased;
	    font: normal 36px/1 'dashicons';
	    vertical-align: middle;
	    border: none;
	    padding-left: 20px;
	    float:right;
		padding:9px 0;
		width:20%;
		background:$gray-med;
	}
	input:hover[type="submit"] {
		color:#fff;
		background-color:$gray-light;
	}
}

#woocommerce-product-search-field {
	width:80%;
	border-radius:3px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border:none;
	color:#b8c2c5;
	font-weight:400;
}

.woocommerce-ordering {
 	select.orderby {
		color:$gray-med;
		font-weight:400;
	}
	select.orderby:focus,
	select.orderby:hover {
		outline:none;
		box-shadow: 0 0 0 1px $gray;
		-webkit-box-shadow: 0 0 0 1px $gray;
		-moz-box-shadow: 0 0 0 1px $gray;
	}
}

.sfHover {
	border-color:$border-color;
}



.woocommerce ul.products li.product {
	span.onsale {
		background-color:$color-highlight-compliment;
		line-height:3.27;
		padding:0;
		top:15px;
		right:15px;
	}
	.price {
		color:$gray-med;
	}
}

span.amount {
	font-weight:$bold;
	color:$gray-dark;
	font-size:14px;
}




.woocommerce ul.product_list_widget {
	padding:10px 15px;
	max-width: 500px;
	margin:0 auto;
}

.woocommerce ul.product_list_widget li img, 
.woocommerce-cart table.cart img {
	width:50px;
}

p.woocommerce-result-count {
	color:$gray-med-dark;
}





.woocommerce .quantity .qty {
	border-radius:3px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}


.woocommerce-cart table.cart td.actions .coupon .input-text {
	height:40px;
	width:auto;
	border-color:$border-color;
	color:$gray-dark;
	font-weight:$bold;
}

.woocommerce td.actions {
	background:$gray;
}


.woocommerce-checkout #payment ul.payment_methods li {
	list-style-type:none;
}

.woocommerce-checkout #payment {
	background:$gray-light;
	border:1px solid;
	border-color:$border-color;
}

.woocommerce-checkout #payment ul.payment_methods {
	border-color:$border-color;
}

#add_payment_method #payment div.payment_box, 
.woocommerce-checkout #payment div.payment_box {
	background-color:$gray;
}

#add_payment_method #payment div.payment_box:before, 
.woocommerce-checkout #payment div.payment_box:before {
	border: 1em solid $gray;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.woocommerce div.product .stock {
	font-size:inherit;
	font-weight:$bold;
	color:$gray-dark;
	text-transform:uppercase;
}

.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	border-color:$border-color;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	li {
		background-color:$gray-light;
		border-color:$border-color;
	}
	li:before,
	li:after {
		border-color:$border-color;
	}
}

.woocommerce-tabs.wc-tabs-wrapper {
	border-bottom:1px solid $border-color;
	margin-bottom:50px;
}

.product_meta a {
	font-weight:$bold;
	color:$gray-med-dark;	
}

.product_meta a:hover {
	color:$gray-med;
}

/* ===== Woo Commerce Pagination =====*/
.woocommerce nav.woocommerce-pagination ul li {
	border-color:$border-color;

	a:focus,
	a:hover,
	span.current {
		background:$gray;
	}
}

.woocommerce nav.woocommerce-pagination {
	ul li a, 
	ul li span {
		color:$gray-dark;
	}
}

/* ===== Misc ===== */
.woocommerce form .form-row .required {
	color:$color-secondary;
}
.woocommerce form .form-row.woocommerce-invalid label {
	color:$color-secondary;
}


/* ===== Checkout =====*/
.checkout {
	background: $gray;
	padding: 1em;

	.shop_table {
		background-color:#fff;
		border:$border-thin;
		border-color:$border-color;
	}
	.methods,
	.place-order {
		background-color:#fff;
		margin:0 !important;
	}
	.woocommerce-checkout-payment {
		fieldset {
			border:0;
		}
		input {
			border-color:$border-color !important;
		}
		input:focus {
			border-color:$border-color-focus !important;
		}
	}
}

.woocommerce form .form-row.woocommerce-validated { 
	
	.select2-container, 
	input.input-text, 
	select {
		border-color:$border-color;
		color:$gray-med-dark;
	}
	.select2-container:focus, 
	input.input-text:focus, 
	select:focus {
		border-color:$border-color-focus;
		color:$gray-dark;
	}

}

.woocommerce form .form-row.woocommerce-invalid {
	.select2-container, 
	input.input-text, 
	.form-row.woocommerce-invalid select {
		border-color:$color-secondary;
		color:$gray-dark;
	}
}

.woocommerce-page div.product div.thumbnails a {
	width:15%;
	margin-right:1%;
}

.sidebar .woocommerce ul.products li.product {
	width: 100%;
	padding:10px 25px;
	margin:0 auto;
	float:none;
	max-width:300px;
}

.sidebar .woocommerce ul.products {
	border:none;
}

.widget_products {
	border:1px solid;
	border-color:$gray-light;
}

.woocommerce ul.products li.product h3 {
	font-size:16px;
	font-size:1.6rem;
}